* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
}

.header,
.section1main,
.footer {
    color: white;
    background: #1F2937;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.headerleft{
    margin-left: 200px;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.headerright {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 200px;
    gap: 16px;
}

.headerright,
.section1text {
    color: #E5E7EB;
    font-size: 18px;
}

.section1main {
    display: flex;
    padding: 100px 0;
    gap: 32px;
}

.section1left{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin-left: 200px;
    width: 50em;
    gap: 16px;
}

.section1head {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.signup{
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 4px 32px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 700;
}

.section1right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    background-color: darkgray;
    margin-right: 200px;
}

.section2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

.section2head,
.section2pics {
    background: antiquewhite;
    padding: 64px;
}

.section2head {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 32px;

}

.section2pics {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 32px;
}

.pic {
    max-width: 200px;
}

.bone {
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    width: 200px;
}

.section3 {
    display: flex;
}

.fullquote {
    background-color: #E5E7EB;
}

.section3quote {
    display: flex;
    flex-direction: column;
    margin: 0 300px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 32px 0;
    height: 10em;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.section3author {
    text-align: right;
    margin-right: 200px;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-wrap: nowrap;
    font-style: normal;
    font-weight: 900;
    padding: 16px 0;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 64px 200px;
    padding: 48px;
    gap: 32px;
    border-radius: 8px;
    color: #F9FAF8;
}

.section4head {
    font-size: 22px;
    font-weight: 700;
}

.signup2 {
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    background-color: #3882F6;
    color: white;
    padding: 6px 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 900;
}

.footer {
    padding: 40px 0;
    text-align: center;
}
